streamlit>=1.24.0
langchain>=0.0.217
openai
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3

deepspeed
evaluate
datasets
frozenlist<1.4
ordereduuid<1
python-dateutil<2.9
requests<3
torch
wandb
fire
bitsandbytes
huggingface-hub
scipy
accelerate
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git